[Unit]
Description=SystemD Timer replacement for Cron.daily

[Service]
Type=simple
ExecStart=/usr/local/sbin/apf-restart.sh

[Install]
WantedBy=apf-daily.target
