[Unit]
Description=SystemD Timer replacement for Cron.daily

[Service]
Type=simple
ExecStart=/etc/apf/apf-restart.sh

[Install]
WantedBy=apf-daily.target
