##
# allow_hosts
#
# Trust based rule file to define addresses that are granted all or specific
# access through the firewall.
#
# Format of this file is line-seperated FQDN/CIDR addresses.
# Examples:
# 192.168.2.1
# 192.168.5.0/24
# domain.com
#
# The trust system supports an advanced rule syntax to allow for more specific
# trust rules to be created based on protocol, flow, port and address.
#
# The advanced syntax format is as follows:
# protocol	flow	port	        address
# tcp|udp|any	in|out  src|dst:1-65535 src|dst:FQDN/CIDR address
# 
# Protocol:	ip protocl tcp, udp or any
# Flow: 	traffic flow representing inbound (in) or outbound (out) communication
# Port:		network port (1-65535); defaults as destination port
# Address:	network address; defaults as source address
# Modifier:	src: and dst: can be prefixed on port and address values
# 
# Examples:
# inbound to destination port 22 from 192.168.2.1
# tcp in dst:22 src:192.168.2.1
#
# outbound to destination port 23 to destination host 192.168.2.1
# tcp out dst:23 dst:192.168.2.1
#
# inbound to destination port 3306 from 192.168.5.0/24
# tcp in dst:3306 src:192.168.5.0/24
##
#
# protocol	flow	port	        address
# tcp|udp|any	in|out  src|dst:1-65535 src|dst:FQDN/CIDR address
